.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e6e6e;
  color: #fff;
  padding: 10px;

  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  .navbar-search {
    display: flex;
    align-items: center;

    input {
      padding: 5px;
      margin-right: 10px;
    }

    .btn-search {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
  .btn-delete {
    background-color: #ff011a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .navbar-actions {
    .btn-logout {
      background-color: #e417ff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}