.sidebar {
  position: absolute;
  left: -15vw;
  height: 91.5vh;
  width: 15vw;
  transition: left 1.0s ease-in-out;
  background-color: rgb(147, 147, 147);
}
.sidebar-toggle {
  position: absolute;
  top: 40vh;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar.open {
  height: 91.5vh;
  background-color: rgb(147, 147, 147);
  left: 0;
}
// .sidebar-menu {
//   list-style: none;
//   padding: 0;
//   margin: 0;

//   li {
//     margin-bottom: 10px;

//     a {
//       display: block;
//       color: #0d0d0d;
//       text-decoration: none;
//       padding: 10px;
//       border-radius: 5px;
//       transition: background-color 0.8s ease;

//       &:hover {
//         background-color: #54be7d;
//         color: #fff;
//       }
//     }
//   }
// }